spacy
pandas
deepl
langdetect
scikit-learn==1.3.2
numpy
transformers
torch

en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

best_model_RorschIA_macro_contents.pt @ git+https://huggingface.co/alberto-lorente/RorschIA_macro_contents/
best_model_RorschIA_macro_determinants.pt @ git+https://huggingface.co/alberto-lorente/RorschIA_macro_determinants/
best_model_RorschIA_individual_contents.pt @ git+https://huggingface.co/alberto-lorente/RorschIA_individual_contents/
best_model_RorschIA_individual_determinants.pt @ git+https://huggingface.co/alberto-lorente/RorschIA_individual_determinants/